<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-slate-950" >
    <div class="m-4 p-4  flex flex-col  justify-around">
        <a class="text-white underline mb-4 text-4xl" href="/">GO BACK</a>
        <div class=" border-2 p-3 pb-0 flex flex-col justify-around h-64 w-1/3 border-slate-200">
            <h1 class="text-white text-4xl"><%= fileName %></h1>
            <p class="text-slate-100 mt-3 text-2xl"><%= filedetails %></p>
        </div>
     
    </div>
    
</body>
</html>